* {
    color: #eadef2;
    background-color: #16051f;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

nav {
    display: flex;
    padding: 1%;
}

ul {
    list-style: none;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav li {
    text-align: center;
    flex: 1;
}

nav a {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_options li {
    display: inline;
}